# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdm.toml

# SQLite database
chat.db
*.db
*.db-journal

# dotenv files (если содержат токены / ключи)
.env
.env.*

# Poetry
poetry.lock
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Docker
*.log
Dockerfile.*
docker-compose.override.yml

# Jupyter (если вдруг)
.ipynb_checkpoints/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
